<a href="https://colab.research.google.com/github/teatime77/xbrl-reader/blob/master/notebook/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### データをダウンロードします。

##### 会社情報をダウンロードします。

In [1]:
! wget http://lkzf.info/xbrl/data/EdinetcodeDlInfo.csv

'wget' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。

#### <font color="red">以下の中から予測したい項目のコメントをはずしてください。</font>

In [2]:
# target = '売上高'
# target = '営業利益'
#target = '経常利益'
target = '税引前純利益'

### 必要なライブラリをインポートします。

In [3]:
import pandas as pd
import numpy as np

### CSVファイルの読み込みの関数

In [4]:
def my_read_csv(filename, date_columns=[]):
    """ How to force pandas read_csv to use float32 for all float columns?
    https://stackoverflow.com/questions/30494569/how-to-force-pandas-read-csv-to-use-float32-for-all-float-columns
    """

    # 最初の100行のみ試しに読んでみる。
    df_test = pd.read_csv(filename, nrows=100, parse_dates=date_columns)

    # float64の列の名前
    float_cols = [c for c in df_test if df_test[c].dtype == "float64"]

    # 型をfloat32として宣言する。
    float32_cols = {c: np.float32 for c in float_cols}

    # 型の宣言を使ってCSVファイルを読み直す。
    return pd.read_csv(filename, engine='c', dtype=float32_cols, parse_dates=date_columns)

### 決算書のCSVファイルを読み込みます。

In [5]:
print("read 提出日時点 ...")
df提出日時点 = my_read_csv("../python/data/summary-0.csv", [ '会計期間終了日' ])
print("read 時点 ...")
df時点 = my_read_csv("../python/data/summary-1.csv")
print("read 期間 ...")
df期間 = my_read_csv("../python/data/summary-2.csv")

read 提出日時点 ...
read 時点 ...
read 期間 ...

In [6]:
df提出日時点

,EDINETコード,会計期間終了日,報告書略号,提出日,証券コード,事業年度,当事業年度開始日,当事業年度終了日,会計基準,連結決算の有無
0,E00232,2021-09-30,q2r,2021-11-15,19050,NaN,2021-04-01,2022-03-31,Japan GAAP,True
1,E00600,2021-08-31,asr,2021-11-22,81270,第75期（自 2020年９月１日 至 2021年８月31日）,2020-09-01,2021-08-31,Japan GAAP,True
2,E01064,2021-08-31,asr,2021-11-25,29270,第41期（自 2020年９月１日 至 2021年８月31日）,2020-09-01,2021-08-31,Japan GAAP,True
3,E02760,2021-09-30,q2r,2021-11-15,99320,NaN,2021-04-01,2022-03-31,Japan GAAP,True
4,E02896,2021-08-31,asr,2021-11-19,76070,第71期(自 2020年９月１日 至 2021年８月31日),2020-09-01,2021-08-31,Japan GAAP,True
...,...,...,...,...,...,...,...,...,...,...
100,E30999,2021-08-31,asr,2021-11-26,60250,第20期（自 2020年９月１日 至 2021年８月31日）,2020-09-01,2021-08-31,Japan GAAP,True
101,E31743,2021-08-31,asr,2021-11-26,70650,第43期（自 2020年９月１日 至 2021年８月31日）,2020-09-01,2021-08-31,Japan GAAP,True
102,E32351,2021-08-31,asr,2021-11-30,35410,第15期（自 2020年９月１日 至 2021年８月31日）,2020-09-01,2021-08-31,Japan GAAP,False
103,E32991,2021-08-31,asr,2021-11-22,35600,第43期(自 2020年９月１日 至 2021年８月31日),2020-09-01,2021-08-31,Japan GAAP,False
104,E33807,2021-08-31,asr,2021-11-25,92700,第10期(自 2020年９月１日 至 2021年８月31日),2020-09-01,2021-08-31,Japan GAAP,True

In [7]:
df時点

,EDINETコード,会計期間終了日,報告書略号,コンテキスト,従業員数,平均臨時雇用人員,平均年齢（年）,平均勤続年数（年）,平均年間給与,所有株式数,...,転換社債型新株予約権付社債,コマーシャル・ペーパー,長期借入金,純資産,株主資本,資本金,資本剰余金,利益剰余金,自己株式,評価・換算差額等
0,E00232,2021-09-30,q2r,当四半期会計期間連結時点,NaN,NaN,NaN,NaN,NaN,2861000.0,...,NaN,NaN,29820000.0,1.207091e+10,1.168045e+10,1.710900e+09,2.447772e+09,8.153326e+09,-631545984.0,20410000.0
1,E00232,2021-09-30,q2r,前期連結時点,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,192924000.0,1.221563e+10,1.178495e+10,1.710900e+09,2.397716e+09,8.187745e+09,-511409984.0,42496000.0
2,E00600,2021-08-31,asr,当期連結時点,194.0,1103.0,NaN,NaN,NaN,7503000.0,...,NaN,NaN,398169984.0,1.594762e+10,1.530623e+10,4.917652e+09,4.988692e+09,5.763798e+09,-363913984.0,641388032.0
3,E00600,2021-08-31,asr,前期連結時点,195.0,1134.0,NaN,NaN,NaN,NaN,...,NaN,NaN,618212992.0,1.579956e+10,1.539904e+10,4.917652e+09,4.988692e+09,5.856433e+09,-363732992.0,400516000.0
4,E00600,2021-08-31,asr,当期個別時点,183.0,1074.0,43.799999,19.6,5532925.0,NaN,...,NaN,NaN,398169984.0,1.564136e+10,1.505070e+10,4.917652e+09,4.988692e+09,5.508269e+09,-363913984.0,590659968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,E32991,2021-08-31,asr,前期個別時点,105.0,29.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.724891e+09,3.590544e+09,3.499980e+08,3.399980e+08,2.901516e+09,-969000.0,134346000.0
344,E33807,2021-08-31,asr,当期連結時点,873.0,127.0,NaN,NaN,NaN,11533000.0,...,NaN,NaN,211250000.0,7.270051e+09,7.090178e+09,1.144576e+09,1.180011e+09,4.978670e+09,-213079008.0,25435000.0
345,E33807,2021-08-31,asr,前期連結時点,587.0,150.0,NaN,NaN,NaN,NaN,...,NaN,NaN,340868000.0,6.735904e+09,6.743900e+09,1.117032e+09,1.104809e+09,4.581888e+09,-59830000.0,-7995000.0
346,E33807,2021-08-31,asr,当期個別時点,88.0,9.0,38.299999,3.0,6084000.0,NaN,...,NaN,NaN,NaN,6.275695e+09,6.121258e+09,1.144576e+09,1.182231e+09,4.007530e+09,-213079008.0,NaN
347,E33807,2021-08-31,asr,前期個別時点,59.0,13.0,NaN,NaN,NaN,NaN,...,NaN,NaN,86018000.0,6.801373e+09,6.801373e+09,1.117032e+09,1.107029e+09,4.637142e+09,-59830000.0,NaN

In [8]:
df期間

,EDINETコード,会計期間終了日,報告書略号,コンテキスト,売上高,売上原価,売上総利益又は売上総損失（△）,販売費及び一般管理費,給料及び手当,減価償却費、販売費及び一般管理費,...,１株当たり当期純利益又は当期純損失（△）,潜在株式調整後1株当たり当期純利益,１株当たり配当額,株価収益率,自己資本利益率,営業活動によるキャッシュ・フロー,減価償却費、営業活動によるキャッシュ・フロー,投資活動によるキャッシュ・フロー,財務活動によるキャッシュ・フロー,現金及び現金同等物の増減額（△は減少）
0,E00232,2021-09-30,q2r,当四半期累計期間連結期間,6.838049e+09,5.843014e+09,9.950340e+08,9.465440e+08,NaN,NaN,...,9.210000,9.020000,NaN,NaN,NaN,5.411160e+08,239996000.0,-7.858500e+07,-4.137300e+08,5.098800e+07
1,E00232,2021-09-30,q2r,前年度同四半期累計期間連結期間,7.205688e+09,6.309120e+09,8.965680e+08,8.798070e+08,NaN,NaN,...,6.560000,6.440000,NaN,NaN,NaN,-5.058200e+08,265623008.0,-3.099050e+08,-1.191960e+08,-9.349130e+08
2,E00600,2021-08-31,asr,当期連結期間,1.369117e+10,7.551287e+09,6.139881e+09,6.505332e+09,NaN,141308000.0,...,1.490000,NaN,NaN,218.500000,0.0020,7.592530e+08,177250000.0,5.732900e+07,-3.003510e+08,5.162420e+08
3,E00600,2021-08-31,asr,前期連結期間,1.425239e+10,8.250738e+09,6.001647e+09,6.929572e+09,NaN,185822000.0,...,-63.049999,NaN,NaN,NaN,NaN,-1.485234e+09,222852992.0,-1.687590e+08,-5.363930e+08,-2.191246e+09
4,E00600,2021-08-31,asr,当期個別期間,1.369117e+10,7.551287e+09,6.139881e+09,6.574552e+09,NaN,141260992.0,...,-0.530000,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,E32991,2021-08-31,asr,前期個別期間,5.309209e+09,NaN,2.692576e+09,2.608936e+09,NaN,64157000.0,...,65.500000,65.449997,45.0,61.099998,0.0410,-9.818200e+07,72980000.0,-1.344020e+08,-1.042520e+08,-3.404300e+08
344,E33807,2021-08-31,asr,当期連結期間,5.251259e+10,3.867101e+10,1.384158e+10,1.267250e+10,NaN,NaN,...,54.869999,54.580002,NaN,54.950001,0.1047,2.007602e+09,626875008.0,-1.256865e+09,1.210207e+09,1.993785e+09
345,E33807,2021-08-31,asr,前期連結期間,3.793265e+10,2.860546e+10,9.327188e+09,8.695871e+09,NaN,NaN,...,23.530001,22.950001,NaN,68.180000,0.0455,1.582557e+09,381939008.0,-7.406100e+07,1.052513e+09,2.561214e+09
346,E33807,2021-08-31,asr,当期個別期間,NaN,NaN,NaN,NaN,NaN,190372000.0,...,-22.799999,NaN,25.0,NaN,-0.0466,NaN,NaN,NaN,NaN,NaN
347,E33807,2021-08-31,asr,前期個別期間,1.906974e+10,NaN,5.493426e+09,3.563144e+09,NaN,187012992.0,...,40.630001,39.639999,25.0,39.480000,0.0791,NaN,NaN,NaN,NaN,NaN

### 有価証券報告書のみを抜き出します。

In [9]:
df提出日時点 = df提出日時点[ df提出日時点['報告書略号'] == "asr" ]
df時点       = df時点[ df時点['報告書略号'] == "asr" ]
df期間       = df期間[ df期間['報告書略号'] == "asr" ]

for tbl in [ df提出日時点, df時点, df期間 ]:
    tbl.drop('報告書略号', axis=1, inplace=True)

C:\Users\monnh\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### df時点とdf期間の列で、df提出日時点の列と重複があれば取り除きます。

In [10]:
除外columns = ['index', 'EDINETコード', '会計期間終了日', 'コンテキスト' ]

for tbl in [ df時点, df期間 ]:
    
    # 重複する列の名前のリスト
    dup_columns = [x for x in tbl.columns if x in df提出日時点 and not x in 除外columns]

    if len(dup_columns) != 0:
        # 重複がある場合

        print("重複", dup_columns)
        tbl.drop(dup_columns, axis=1, inplace=True)

### df時点とdf期間で同じ名前の列があれば、名前に「-時点」や「-期間」を付加します。

In [11]:
v = [x for x in df時点.columns if not x in 除外columns]
for name in v:
    if name in df期間.columns:
        print('%d %d %s' % (df時点[name].notnull().sum(), df期間[name].notnull().sum(), name))
        df時点.rename(columns={ name: name+'-時点' }, errors='raise', inplace=True)                    
        df期間.rename(columns={ name: name+'-期間' }, errors='raise', inplace=True)

### 内容が同じで名前が違う2つの列を1つに統合します。

In [12]:
def unify_columns(tbl, alias, name):
    diff = 0

    # 別名と本名の列のそれぞれの値に対し
    for idx, (alias_val, val) in enumerate(zip(tbl[alias], tbl[name])):
        if not alias_val is None:
            # 別名の値がある場合

            if val is None:
                # 本名の値がない場合

                # 別名の値を本名の値とする。
                tbl[name].iloc[idx] = alias_val
            else:
                # 本名の値がある場合

                if val != 0:

                    # 別名と本名の値の違いを調べる。
                    diff = max(diff, abs((alias_val - val)/val) )

    print('%.5f %s' % (diff, alias))

In [13]:
for suffix in [ '（IFRS）', '、経営指標等', '（平成26年3月28日財規等改正後）', '又は売上総損失（△）' ]:
    for tbl in [df時点, df期間]:
        drop_names = []
        for name in tbl.columns:
            
            if  suffix in name:
                # 名前に接尾辞が含まれる場合

                # 名前から接尾辞を取り除く。
                short_name = name.replace(suffix, '')
                
                if short_name in tbl.columns:
                    # 短い名前の列がある場合

                    # 短い名前の列に統合する。
                    unify_columns(tbl, name, short_name)

                    # 長い名前の列は削除する。
                    drop_names.append(name)

                else:
                    # 短い名前の列がない場合

                    if suffix != '（IFRS）':

                        # 長い名前を短い名前に変える。
                        print('短縮 : %s -> %s' % (name, short_name))
                        tbl.rename(columns={ name:short_name }, errors='raise', inplace=True)                    

        # 長い名前の列を削除する。
        tbl.drop(drop_names, axis=1, inplace=True)

短縮 : 売上総利益又は売上総損失（△） -> 売上総利益

C:\Users\monnh\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

### 長い項目名を短くします。

In [14]:
df期間.columns

Index(['EDINETコード', '会計期間終了日', 'コンテキスト', '売上高', '売上原価', '売上総利益', '販売費及び一般管理費',
       '給料及び手当', '減価償却費、販売費及び一般管理費', '研究開発費', '営業利益又は営業損失（△）', '営業外収益',
       '営業外費用', '支払利息', '経常利益又は経常損失（△）', '特別利益', '特別損失',
       '税引前当期純利益又は税引前当期純損失（△）', '法人税等', '当期純利益又は当期純損失（△）',
       '親会社株主に帰属する当期純利益又は親会社株主に帰属する当期純損失（△）', '包括利益', '１株当たり当期純利益又は当期純損失（△）',
       '潜在株式調整後1株当たり当期純利益', '１株当たり配当額', '株価収益率', '自己資本利益率', '営業活動によるキャッシュ・フロー',
       '減価償却費、営業活動によるキャッシュ・フロー', '投資活動によるキャッシュ・フロー', '財務活動によるキャッシュ・フロー',
       '現金及び現金同等物の増減額（△は減少）'],
      dtype='object')

In [15]:
df時点 = df時点.rename(columns={ 
    '１株当たり純資産額': '１株当たり純資産',
    '平均年齢（年）'    : '平均年齢',
    '平均勤続年数（年）': '平均勤続年数',
})

df期間 = df期間.rename(columns={ 
    # '売上総利益又は売上総損失（△）'            :'売上総利益', 
    '経常利益又は経常損失（△）'                : '経常利益', 
    '営業利益又は営業損失（△）'                : '営業利益',
    '当期純利益又は当期純損失（△）'            :'純利益', 
    '税引前当期純利益又は税引前当期純損失（△）':'税引前純利益', 
    '１株当たり当期純利益又は当期純損失（△）'  :'１株当たり純利益',
    '親会社株主に帰属する当期純利益又は親会社株主に帰属する当期純損失（△）': '親会社株主に帰属する純利益',
    '潜在株式調整後1株当たり当期純利益'         :'調整1株当たり純利益',
    '現金及び現金同等物の増減額（△は減少）'    :'現金及び現金同等物の増減' 
}, errors='raise')

### コンテキストごとに分離します。

In [16]:
df提出日時点 = df提出日時点.set_index(['EDINETコード', '会計期間終了日'])

tbls = []
for tbl, ctx in [ [df時点, '当期連結時点'], [df時点, '当期個別時点'], [df時点, '前期連結時点'], [df時点, '前期個別時点'], \
                  [df期間, '当期連結期間'], [df期間, '当期個別期間'], [df期間, '前期連結期間'], [df期間, '前期個別期間'] ]:

    tmp = tbl[tbl['コンテキスト'] == ctx]
    
    tmp = tmp.set_index(['EDINETコード', '会計期間終了日'])
    
    tmp = tmp.drop('コンテキスト', axis=1)

    tbls.append(tmp)

df当期連結時点, df当期個別時点, df前期連結時点, df前期個別時点, df当期連結期間, df当期個別期間, df前期連結期間, df前期個別期間 = tbls

assert len(df提出日時点) == len(df当期連結時点) == len(df当期個別時点) == len(df当期連結期間) == len(df当期個別期間) == len(df前期連結時点) == len(df前期個別時点) == len(df前期連結期間) == len(df前期個別期間)

### 会計終了時点と会計期間の表を連結します。

In [17]:
df当期連結 = pd.concat([ df当期連結時点, df当期連結期間 ], axis=1)
df当期個別 = pd.concat([ df当期個別時点, df当期個別期間 ], axis=1)
df前期連結 = pd.concat([ df前期連結時点, df前期連結期間 ], axis=1)
df前期個別 = pd.concat([ df前期個別時点, df前期個別期間 ], axis=1)

assert len(df当期連結) == len(df当期連結時点)  == len(df当期連結期間) == len(df当期個別) == len(df当期個別時点)  == len(df当期個別期間)
assert len(df前期連結) == len(df前期連結時点)  == len(df前期連結期間) == len(df前期個別) == len(df前期個別時点)  == len(df前期個別期間)

assert list(df当期連結.columns) == list(df当期個別.columns) == list(df前期連結.columns) == list(df前期個別.columns)

In [18]:
column_cnts = df当期連結.notnull().sum().items()
sorted_column_cnts = sorted(column_cnts, key=lambda x: x[1], reverse=True)

sorted_columns = [x[0] for x in sorted_column_cnts]

list(enumerate(sorted_column_cnts[:200]))

[(0, ('所有株式数', 68)),
 (1, ('発行済株式（自己株式を除く。）の総数に対する所有株式数の割合', 68)),
 (2, ('従業員数', 58)),
 (3, ('資産', 58)),
 (4, ('流動資産', 58)),
 (5, ('有形固定資産', 58)),
 (6, ('負債', 58)),
 (7, ('流動負債', 58)),
 (8, ('資本金', 58)),
 (9, ('資本剰余金', 58)),
 (10, ('利益剰余金', 58)),
 (11, ('営業活動によるキャッシュ・フロー', 58)),
 (12, ('投資活動によるキャッシュ・フロー', 58)),
 (13, ('財務活動によるキャッシュ・フロー', 58)),
 (14, ('現金及び現金同等物の増減', 58)),
 (15, ('連結子会社の数', 57)),
 (16, ('１株当たり純資産', 57)),
 (17, ('自己資本比率', 57)),
 (18, ('現金及び現金同等物の残高', 57)),
 (19, ('固定資産', 57)),
 (20, ('投資その他の資産', 57)),
 (21, ('純資産', 57)),
 (22, ('株主資本', 57)),
 (23, ('自己株式', 57)),
 (24, ('売上原価', 57)),
 (25, ('販売費及び一般管理費', 57)),
 (26, ('営業利益', 57)),
 (27, ('営業外収益', 57)),
 (28, ('営業外費用', 57)),
 (29, ('経常利益', 57)),
 (30, ('税引前純利益', 57)),
 (31, ('法人税等', 57)),
 (32, ('純利益', 57)),
 (33, ('親会社株主に帰属する純利益', 57)),
 (34, ('包括利益', 57)),
 (35, ('１株当たり純利益', 57)),
 (36, ('売上高', 56)),
 (37, ('売上総利益', 56)),
 (38, ('無形固定資産', 55)),
 (39, ('固定負債', 55)),
 (40, ('自己資本利益率', 55)),
 (41, ('減価償却費、営業活動によるキャッシュ・フロー', 55)),
 (42, ('評価・換算差額等', 53)),
 (43, ('支払利息', 53)),
 (44, ('特別損失', 52)),
 (45, ('株価収益率', 49)),
 (46, ('平均臨時雇用人員', 45)),
 (47, ('長期借入金', 45)),
 (48, ('1年内返済予定の長期借入金', 40)),
 (49, ('特別利益', 35)),
 (50, ('短期借入金', 33)),
 (51, ('給料及び手当', 31)),
 (52, ('調整1株当たり純利益', 24)),
 (53, ('減価償却費、販売費及び一般管理費', 22)),
 (54, ('研究開発費', 17)),
 (55, ('社債', 9)),
 (56, ('1年内償還予定の社債', 8)),
 (57, ('転換社債型新株予約権付社債', 2)),
 (58, ('平均年齢', 0)),
 (59, ('平均勤続年数', 0)),
 (60, ('平均年間給与', 0)),
 (61, ('発行済株式総数', 0)),
 (62, ('コマーシャル・ペーパー', 0)),
 (63, ('１株当たり配当額', 0))]

### 期首期末平均資産を計算します。

In [19]:
def set_assets_mean(tbl):
    # 期首期末平均資産
    mean_assets = np.ndarray(shape=(len(tbl),), dtype=np.float32)

    # EDINETコード
    edinet_codes = tbl.index.map(lambda x: x[0])
    
    prev_code = None
    prev_value = None

    # EDINETコードと資産に対し
    for i, [code, value] in enumerate(zip(edinet_codes, tbl['資産'])):
        if prev_code != code:
            # 会社の最初の場合

            # 前期がないので今期の資産を期首期末平均資産とする。
            mean_assets[i] = value

            prev_code = code
        else:
            # 会社の最初でない場合

            # 前期と今期の平均の資産を期首期末平均資産とする。
            mean_assets[i] = (prev_value + value) / 2

        # 前期の資産
        prev_value = value

    tbl['期首期末平均資産'] = mean_assets

for tbl in [ df当期連結, df当期個別, df前期連結, df前期個別 ]:
    set_assets_mean(tbl)

### 財務指標を計算します。

In [20]:
for tbl in [ df当期連結, df当期個別, df前期連結, df前期個別 ]:
    tbl['粗利益'] = tbl['売上高'] - tbl['売上原価']

    tbl['売上高総利益率']   = tbl['粗利益']   / tbl['売上高']
    tbl['売上高営業利益率'] = tbl['営業利益'] / tbl['売上高']
    tbl['売上高経常利益率'] = tbl['経常利益'] / tbl['売上高']

    tbl['売上高販管費率']   = tbl['販売費及び一般管理費'] / tbl['売上高']

    tbl['総資本回転率']     = tbl['売上高'] / tbl['資産']
    tbl['流動比率']         = tbl['流動資産'] / tbl['流動負債']

    tbl['総資産経常利益率'] = tbl['経常利益'] / tbl['期首期末平均資産']

    tbl['総資産純利益率']   = tbl['純利益']   / tbl['期首期末平均資産']

    tbl['総資産親会社株主に帰属する純利益率']   = tbl['親会社株主に帰属する純利益'] / tbl['期首期末平均資産']

    tbl['自己資本'] = tbl['株主資本'].fillna(0) + tbl['評価・換算差額等'].fillna(0)

    tbl['有利子負債'] = tbl['短期借入金'].fillna(0) + tbl['1年内返済予定の長期借入金'].fillna(0) + tbl['1年内償還予定の社債'].fillna(0) + tbl['長期借入金'].fillna(0) \
        + tbl['社債'].fillna(0) + tbl['転換社債型新株予約権付社債'].fillna(0) + tbl['コマーシャル・ペーパー'].fillna(0)

    tbl['負債比率'] = tbl['負債'] / tbl['自己資本']
    tbl['有利子負債比率'] = tbl['有利子負債']  / tbl['自己資本']

### 前期の列名に「前期」の接頭語を付けます。

In [21]:
for tbl in [ df前期連結, df前期個別 ]:
    tbl.rename(columns=dict((x, '前期' + x) for x in tbl.columns), inplace=True)

### 連結と個別のそれぞれの当期と前期の表を連結します。

In [22]:
df連結 = pd.concat([ df当期連結, df前期連結 ], axis=1)
df個別 = pd.concat([ df当期個別, df前期個別 ], axis=1)

assert len(df連結) == len(df当期連結) == len(df前期連結) == len(df個別) == len(df当期個別) == len(df前期個別)

### 当期の列名のリストを得ます。

In [23]:
assert list(df当期連結.columns) == list(df当期個別.columns)

num_columns = list(df当期連結.columns)

# 列名の重複がないことを確認
assert len(num_columns) == len(set(num_columns))

### 前期から当期への変化率を計算します。

In [24]:
for tbl in [ df連結, df個別 ]:
    for title in num_columns:
        tbl[title + '変化率'] = (tbl[title] - tbl['前期' + title]) / tbl['前期' + title]

### 前期のデータは以降で使わないので削除します。

In [25]:
drop_columns = ['前期' + x for x in num_columns]

df連結 = df連結.drop(drop_columns, axis=1)
df個別 = df個別.drop(drop_columns, axis=1)

### 個別の列名に「個別」の接頭語を付けます。

In [26]:
df個別.rename(columns=dict((x, '個別' + x) for x in df個別.columns), inplace=True)

### 連結と個別のデータを１つにまとめます。

In [27]:
df = pd.concat([ df連結, df個別 ], axis=1)

assert len(df) == len(df提出日時点)

# 列名の重複がないことを確認します。
assert len(df.columns) == len(set(df.columns))

#### 次期変化率を計算します。

In [28]:
# 予測する列の名前
y_column = target + '次期変化率'

# 次期変化率の配列をNaNで初期化します。
change_rate = np.array([np.nan] * len(df), dtype=np.float32)

# EDINETコード
edinet_codes = df.index.map(lambda x: x[0])

# 直前のEDINETコード
prev_code = None

# 直前の値
prev_value = None

for i, [code, value] in enumerate(zip(edinet_codes, df[target])):
    if prev_code != code:
        # 会社が変わった場合

        prev_code = code
    else:
        # 会社が同じ場合

        if prev_value != 0:
            # 直前の値が0でない場合

            # 次期変化率を計算します。
            change_rate[i - 1] = (value - prev_value) / prev_value

    prev_value = value

df[y_column] = change_rate

In [29]:
df

,,従業員数,平均臨時雇用人員,平均年齢,平均勤続年数,平均年間給与,所有株式数,発行済株式（自己株式を除く。）の総数に対する所有株式数の割合,発行済株式総数,連結子会社の数,１株当たり純資産,...,個別総資本回転率変化率,個別流動比率変化率,個別総資産経常利益率変化率,個別総資産純利益率変化率,個別総資産親会社株主に帰属する純利益率変化率,個別自己資本変化率,個別有利子負債変化率,個別負債比率変化率,個別有利子負債比率変化率,税引前純利益次期変化率
EDINETコード,会計期間終了日,,,,,,,,,,,,,,,,,,,,,
E00600,2021-08-31,194.0,1103.0,NaN,NaN,NaN,7503000.0,0.3651,NaN,1.0,776.159973,...,-0.041419,-0.031348,-1.034627,-0.991558,NaN,0.004978,-0.213054,-0.011529,-0.216952,NaN
E01064,2021-08-31,793.0,339.0,NaN,NaN,NaN,5080840.0,0.3580,NaN,13.0,833.440002,...,-0.367340,-0.201670,-0.209878,-0.088593,NaN,0.079158,3.985902,1.527348,3.620178,NaN
E02896,2021-08-31,836.0,167.0,NaN,NaN,NaN,3995000.0,0.2993,NaN,13.0,2385.090088,...,-0.186260,-0.018069,-0.300669,-0.297597,NaN,0.045533,NaN,0.014883,NaN,NaN
E03000,2021-08-31,NaN,NaN,NaN,NaN,NaN,1566000.0,0.7288,NaN,NaN,NaN,...,0.083826,0.608192,0.372346,1.736547,NaN,0.101320,-0.682991,-0.501050,-0.712155,NaN
E03240,2021-08-31,776.0,2034.0,NaN,NaN,NaN,15768000.0,0.5717,NaN,1.0,538.940002,...,0.089014,-0.071607,-1.027249,-0.586798,NaN,-0.123043,-0.292070,-0.030958,-0.192742,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E30999,2021-08-31,391.0,117.0,NaN,NaN,NaN,1410195.0,0.8106,NaN,8.0,300.040009,...,0.107690,-0.174402,1.057599,1.394464,NaN,0.214229,-0.246502,-0.230274,-0.379443,NaN
E31743,2021-08-31,213.0,NaN,NaN,NaN,NaN,6204000.0,0.8101,NaN,6.0,939.469971,...,0.104613,0.143706,-0.364123,-0.492359,NaN,0.054847,-0.062456,-0.193911,-0.111204,NaN
E32351,2021-08-31,NaN,NaN,NaN,NaN,NaN,15000600.0,0.6882,NaN,NaN,NaN,...,-0.049572,0.188060,-4.110205,-7.306115,NaN,0.436036,2.398380,-0.000907,1.366500,NaN
E32991,2021-08-31,NaN,NaN,NaN,NaN,NaN,1887000.0,0.8137,NaN,NaN,NaN,...,0.078268,0.087920,0.735932,0.316228,NaN,0.017728,NaN,-0.112923,NaN,NaN
E33807,2021-08-31,873.0,127.0,NaN,NaN,NaN,11533000.0,0.8743,NaN,11.0,539.400024,...,NaN,-0.208810,-0.357895,-1.566541,NaN,-0.099997,-0.788661,0.670605,-0.765179,NaN

### 次期変化率が欠損値の行を削除します。

In [30]:
df = df.dropna(subset=[y_column])

In [31]:
df

Empty DataFrame
Columns: [従業員数, 平均臨時雇用人員, 平均年齢, 平均勤続年数, 平均年間給与, 所有株式数, 発行済株式（自己株式を除く。）の総数に対する所有株式数の割合, 発行済株式総数, 連結子会社の数, １株当たり純資産, 自己資本比率, 現金及び現金同等物の残高, 資産, 流動資産, 固定資産, 有形固定資産, 無形固定資産, 投資その他の資産, 負債, 流動負債, 短期借入金, 1年内償還予定の社債, 1年内返済予定の長期借入金, 固定負債, 社債, 転換社債型新株予約権付社債, コマーシャル・ペーパー, 長期借入金, 純資産, 株主資本, 資本金, 資本剰余金, 利益剰余金, 自己株式, 評価・換算差額等, 売上高, 売上原価, 売上総利益, 販売費及び一般管理費, 給料及び手当, 減価償却費、販売費及び一般管理費, 研究開発費, 営業利益, 営業外収益, 営業外費用, 支払利息, 経常利益, 特別利益, 特別損失, 税引前純利益, 法人税等, 純利益, 親会社株主に帰属する純利益, 包括利益, １株当たり純利益, 調整1株当たり純利益, １株当たり配当額, 株価収益率, 自己資本利益率, 営業活動によるキャッシュ・フロー, 減価償却費、営業活動によるキャッシュ・フロー, 投資活動によるキャッシュ・フロー, 財務活動によるキャッシュ・フロー, 現金及び現金同等物の増減, 期首期末平均資産, 粗利益, 売上高総利益率, 売上高営業利益率, 売上高経常利益率, 売上高販管費率, 総資本回転率, 流動比率, 総資産経常利益率, 総資産純利益率, 総資産親会社株主に帰属する純利益率, 自己資本, 有利子負債, 負債比率, 有利子負債比率, 従業員数変化率, 平均臨時雇用人員変化率, 平均年齢変化率, 平均勤続年数変化率, 平均年間給与変化率, 所有株式数変化率, 発行済株式（自己株式を除く。）の総数に対する所有株式数の割合変化率, 発行済株式総数変化率, 連結子会社の数変化率, １株当たり純資産変化率, 自己資本比率変化率, 現金及び現金同等物の残高変化率, 資産変化率, 流動資産変化率, 固定資産変化率, 有形固定資産変化率, 無形固定資産変化率, 投資その他の資産変化率, 負債変化率, 流動負債変化率, 短期借入金変化率, ...]
Index: []

[0 rows x 317 columns]

### 比率以外の列は財務分析に使わないので削除します。

In [32]:
df = df.drop([x for x in df.columns if not x.endswith('率')], axis=1)

### 会社情報をセットします。

#### 会社情報のCSVを読み込みます。

In [33]:
df会社 = pd.read_csv("../data/EDINET/EdinetcodeDlInfo.csv", encoding='cp932', skiprows=[0])
df会社 = df会社.set_index('ＥＤＩＮＥＴコード')

#### 会社名から "株式会社" を取り除きます。

In [34]:
df会社['提出者名'] = df会社['提出者名'].apply(lambda x: x.replace('株式会社', '').strip())

#### 会社名と業種をセットします。

In [35]:
edinet_codes = df.index.map(lambda x: x[0])
df['会社名']  = edinet_codes.map(lambda x: df会社.loc[x]['提出者名'])
df['業種']    = edinet_codes.map(lambda x: df会社.loc[x]['提出者業種'])

In [36]:
df = df.reset_index()
df = df.set_index(['EDINETコード', '会社名', '会計期間終了日'])

## 出現頻度が高い列を残します。

### 出現頻度の高い順に列名を並べます。

In [37]:
# 有効値が多い列を得ます。
column_cnts = df.notnull().sum().items()
freq_column_cnts = sorted(column_cnts, key=lambda x: x[1], reverse=True)

list(enumerate(freq_column_cnts[:10]))

[(0, ('自己資本比率', 0)),
 (1, ('株価収益率', 0)),
 (2, ('自己資本利益率', 0)),
 (3, ('売上高総利益率', 0)),
 (4, ('売上高営業利益率', 0)),
 (5, ('売上高経常利益率', 0)),
 (6, ('売上高販管費率', 0)),
 (7, ('総資本回転率', 0)),
 (8, ('流動比率', 0)),
 (9, ('総資産経常利益率', 0))]

### 出現頻度の低い列は削除します。

In [38]:
drop_names = [x[0] for x in freq_column_cnts][200:]
df = df.drop(drop_names, axis=1)

## データを正規化します。

### 無限大はNaNに置換します。

In [39]:
for name in [x for x in df.columns if x != '業種']:
    df[name] = df[name].replace([np.inf, -np.inf], np.nan)

### 平均0、標準偏差1に正規化します。
### 欠損値は0で置き換えます。

In [40]:
def norm(v):
    # 平均
    mean = v.mean()

    # 標準偏差
    std  = v.std()

    assert not( np.isnan(mean) or np.isnan(std) or std == 0 )

    w = (v - mean) / std

    # 欠損値は0で置き換えます。
    return w.fillna(0)

In [41]:
for name in [x for x in df.columns if x != '業種']:
    df[name] = norm(df[name])

AssertionError:

### 外れ値をクリップします。

In [ ]:
nrow, ncol = (5, 4)

names = [x[0] for x in freq_column_cnts if x[0] != '業種']

for label in names[: nrow*ncol]:
    tmp = df[label]
    df[label] = tmp.clip(lower=tmp.quantile(0.05), upper=tmp.quantile(0.95))

## 相関係数が高い列を残します。

### 相関係数を計算します。

In [ ]:
name_corrs = [ [name, np.corrcoef( np.stack([df[y_column].values, df[name].values]) )[0, 1] ] for name in df.columns if not name in ['業種', y_column] ]

# 欠損値は削除します。
name_corrs = [ x for x in name_corrs if not np.isnan(x[1])]

### 相関係数の絶対値の大きい順にソートします。

In [ ]:
sorted_name_corrs = sorted(name_corrs, key=lambda x: abs(x[1]), reverse=True)
['%d  %.5f %s' % (i, x[1], x[0]) for i, x in enumerate(sorted_name_corrs[:50]) ]

### 相関係数が低い列を削除します。

## 結果を保存します。

In [ ]:
sorted_names = [x[0] for x in sorted_name_corrs]
drop_names = sorted_names[50:] 
df = df.drop(drop_names, axis=1)

### 業種をダミー変数に変換します。

In [ ]:
df = pd.get_dummies(df)

# '業種'の列がなくなったことを確認
assert not '業種' in df.columns

### pickleでファイルに書きます。

In [ ]:
import pickle

data = { 'y_column': y_column, 'data_frame': df  }

if   y_column == '売上高次期変化率':
    file_name = 'preprocess-uriage.pickle'
elif y_column == '営業利益次期変化率':
    file_name = 'preprocess-eigyo.pickle'
elif y_column == '経常利益次期変化率':
    file_name = 'preprocess-keijo.pickle'
elif y_column == '税引前純利益次期変化率':
    file_name = 'preprocess-jun.pickle'
else:
    assert False

with open(file_name, 'wb') as f:
    pickle.dump(data, f)

#### <font color="red">パソコンにファイルをダウンロードする場合は以下のコメントをはずしてください。</font>

In [ ]:
# from google.colab import files
# from pathlib import Path

# # pickleファイルに対し
# for path_obj in Path().glob('*.pickle'):
#     print(path_obj)

#     # ファイルをダウンロードします。
#     files.download(str(path_obj))